<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><?=$name?></title>
    <link rel="stylesheet" href="//unpkg.com/layui@2.8.12/dist/css/layui.css">
    <script src="//unpkg.com/layui@2.8.12/dist/layui.js"></script>
</head>
<body>
<script>
    layui.use(function(){
        var layer = layui.layer,
            form = layui.form;
        layer.msg('<?=$name?>，Hello World', {icon: 6});
        var url = layui.url();
        console.log(url);
        var device = layui.device('Chrome');
        console.log(device);

    });
</script>

</body>
</html>