<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>信息流授权页面</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/layui/2.9.10/css/layui.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/layui/2.9.10/layui.js"></script>
</head>
<body>

<script>
    layui.use(function () {
        var layer = layui.layer;
        layer.msg('你好，旭成', {icon: 6});
    });
</script>
<div class="layui-layout layui-layout-admin">
    <div class="layui-body">
        <div style="padding: 15px;">
            <blockquote class="layui-elem-quote layui-text" style="text-align: center;">
                百度信息流Token授权页面
            </blockquote>
            <div class="layui-card layui-panel">
        <form class="layui-form" action="/baidu/" method="post">
            <div class="layui-form-item">
                <label class="layui-form-label">appId</label>
                <div class="layui-input-block">
                    <input type="text" name="appId" readonly   value="<?=htmlspecialchars($baidu_data['appId'])?>"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">authCode</label>
                <div class="layui-input-block">
                    <input type="text" name="authCode" readonly  value="<?=htmlspecialchars($baidu_data['authCode'])?>"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">signature</label>
                <div class="layui-input-block">
                    <textarea id="myTextarea" name="signature" readonly placeholder="<?=htmlspecialchars($baidu_data['signature'])?>" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">state</label>
                <div class="layui-input-inline">
                    <input type="text" name="state" readonly  value="<?=htmlspecialchars($baidu_data['state'])?>"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">timestamp</label>
                <div class="layui-input-inline">
                    <input  type="text" name="timestamp" readonly  value="<?=htmlspecialchars($baidu_data['timestamp'])?>"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <script>
                var textarea = document.getElementById('myTextarea');

                textarea.value = "<?=htmlspecialchars($baidu_data['signature'])?>";
            </script>
            <div class="layui-form-item">
                <label class="layui-form-label">userId</label>
                <div class="layui-input-inline">
                    <input type="text" name="userId" readonly  value="<?=htmlspecialchars($baidu_data['userId'])?>"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">secretKey</label>
                <div class="layui-input-block">
                    <input type="text" name="secretKey" lay-verify="required" placeholder="必填项" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">优化师</label>
                <div class="layui-input-block">
                    <select name="adminId" lay-verify="required" lay-search>
                        <option value=""></option>
                        <?
                        foreach($youhuashi as $v){
                            echo '<option value="'.$v->id.'">'.$v->username.'</option>';
                        }
                        ?>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="submit" class="layui-btn" lay-submit lay-filter="demo1">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
